.root{
	-fx-font-size: 10pt;
	-fx-background-image: url("illuminated-cityscape-against-blue-sky-at-night-316093.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 500;
    -fx-background-position: center center;
    -fx-background-opacity: 0;
}
.label {
	-fx-text-fill: #e8e8e8;
}
.button{
	-fx-background-color: #AB4642;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius:2;
}